WB_SYNC_PG_HOST=127.0.0.1
WB_SYNC_PG_PORT=5432
WB_SYNC_PG_DATABASE=postgres
WB_SYNC_PG_USER=postgres
WB_SYNC_PG_PASSWORD=change_me
WB_SYNC_DB_SCHEMA=wb_prod
WB_SYNC_DISPATCHER_POLL_SECONDS=10
WB_SYNC_HTTP_TIMEOUT_SECONDS=60
WB_SYNC_RETRY_ATTEMPTS=5
WB_SYNC_RETRY_BASE_SECONDS=2
WB_SYNC_RATE_LIMIT_SECONDS=60
WB_SYNC_SUPPLIES_RATE_LIMIT_SECONDS=2
WB_SYNC_LOG_LEVEL=INFO
